.active {
    font-weight: bold;
}

ul{
    display: flex;
    padding-right: 10px;
}

li {
    display:inline-block;
    margin: auto;
}

.menu {
    justify-content: flex-end;
}

.albums {
    flex-direction: column;
}

#previews{
    padding: 20px
}

#previews img {
    margin-right: 20px
}

#previews button {
    margin-left: 10px
}


